@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;}

body{
    background-color: #23063a   ;
    height: 100vh;
    color: white;
    
    /* width: 100vw; */
}

::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-track{
    background-color: #23063a;
}

::-webkit-scrollbar-thumb{
    display: none;
    background-color: #462167;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    display: flex;
}

.navbar{
    background-color: transparent;
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    padding:  4rem;
    justify-content: space-between;
    opacity: 0;
}

a{
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    /* border-bottom: solid 1px white; */
    
}

.box{
    height: 200px;
    width: 200px;
    background-color: cyan;
    border-radius: 20%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.div1{
    background-color: #10061f;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;
    
}


.div1 h2{
    font-size: 18px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.42);
    display: flex;
    justify-content: center;
    /* align-content: center; */
}


.div1 h1{
    font-size: 5vw;
}


.reveal .parent{
    display: block;
    /* background-color: red; */
    overflow-y: hidden;
    /* width: 500px; */
    overflow-x: hidden;
}

.reveal .child{
    display: inline-block;
    align-items: center;
    color: white;
    
    
    /* transform: translateY(0); */
}

#surname{
    color: #462167;
}


.reveal .parent .child span{
    display: inline-block;
    /* opacity: 0; */
}
.reveal .parent .child span::-webkit-scrollbar{
    display: none;
}

#div1text{
    letter-spacing: 2px;
    opacity: 1;
    color: #462167;
    /* transform: translate(0,100%); */
    margin-left: 10px;

} 

.div1 h1{
    color: white;
}
.div1 h3{
    color: #462167;
}
.div1 h2{
    color: #462167;
}
.div2{
    position: absolute;
    background-color: #462167;
    height: 0;
    width: 100%;
    bottom: 0;
}



.line{
    position: absolute;
    bottom: 0;

    display: inline-block;
    /* width: 100%; */
    height: 1px;
    background-color: white;
    /* transition: all 0.3s;
    transition-delay: 0.2s; */

}

#line1{
    /* position: absolute; */
    left: 0;
    background-color: white;
    width: 0;
    transition: all 0.5s ease-in;
    transition-delay: 0.1s;
}
#line2{
    right: 0;
    width: 100%;
    transition: all 0.3s;
    /* transition-delay: 0.2s; */

}

.navbar a:hover #line2{
    width: 0;
}

.navbar a:hover #line1{
    width: 100%;
}


.div3{
    position: absolute;
    background-color:#23063a;
    /* height: 200%;   */
    width: 100%;
    bottom: 0;
    overflow: hidden;
    
}


.creative{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    /* border: solid red 2px; */
    width: 100%;
    padding: 0 4rem;
    text-transform: uppercase;
}

.creative h1{
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 8px;
}

.creative h3{
    position: absolute;
    right: 25%;
    top: 5%;
    color: rgba(255, 255, 255, 0.352);
    font-weight: 300;
    font-size: 14px;
    display: block;
    /* background-color: red; */
    overflow-y: hidden;
    
}

.creative h3 span{
    display: inline-block;
    /* transform: translateY(50px); */

}
.creative h4{
    position: absolute;
    right: 10%;
    top: 5%;
    color: rgba(255, 255, 255, 0.352);
    font-weight: 300;
    font-size: 14px;
    display: block;
    /* background-color: red; */
    overflow-y: hidden;

}
.creative h4 span{
    display: inline-block;
    /* transform: translateY(50px); */

}



.design{
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 50%;
    /* border: solid green 2px; */
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
   

}

.design h1{
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;


}

.design h2{
    /* position:absolute; */
    left: 20%;
    font-size: 8rem;
    letter-spacing: 8px;
    font-family: cursive;
    color: #462167;
    margin: 0 4vh;
    text-transform: uppercase;

}

.design .bg{
  
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    position: absolute;
    left: 10%;
    bottom: 0;

}

.design .bg img{
    position: relative;
    /* left: 10 */
}



.aboutmediv{
    /* position: absolute; */
    width: 100%;
    height:100vh;
    background-color: #23063a;
    /* back/ */
    /* bottom: 0;
    display: flex; */
    display: none;
    padding: 4rem ;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.about{
    /* border: solid red 2px; */
    height: fit-content;
    font-size: 6vh;
    letter-spacing: 0.6vh;
    font-weight: 800;
    line-height: 1;
    font-style: italic;
    font-family: "Blinker";
    text-transform: uppercase;
}

.about span{
    color: #462167;
}

.imgcontainer{
    position: relative;
    /* overflow: hidden; */
    height: 500px;
    width: 500px;
    display:block;
    /* border:solid  cyan 2px; */
    
    

}
.imgdiv{
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
}
.imgdiv:hover{
    filter: none;
}

.imgdiv:nth-child(1){
    position: absolute;
    height: 100%;
    width: 70%;
    border-radius: 4vh;
    background-color:red;
    z-index: 3;
    background: url("https://pbs.twimg.com/profile_images/1785867863191932928/EpOqfO6d_400x400.png");
    transform: rotate(-5deg);
    background-position: center;
    background-size: cover;
    /* filter: grayscale(100%); */
}


.imgdiv:nth-child(2){
    position: absolute;
    bottom: 10%;
    left: -20%;
    height: 100%;
    width: 70%;
    border-radius: 4vh;
    background-color:yellow;
    background: url("https://cdn.pixabay.com/photo/2015/04/23/17/41/javascript-736400_640.png");
    background-position: center;
    background-size: cover;
    transform: rotate(-10deg);

    z-index: 2;
}
.imgdiv:nth-child(1):hover{
    /* left: -5%; */
    transform: rotate(-5deg);
}
.imgdiv:nth-child(2):hover{
    left: -30%;
    transform: rotate(-15deg);
}
.imgdiv:nth-child(3):hover{
    left: -45%;
    transform: rotate(-25deg);
}


.imgdiv:nth-child(3){
    position: absolute;
    bottom: 20%;
    left: -35%;
    height: 100%;
    width: 70%;
    border-radius: 4vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBd2rMcfI56SZEenhvautbZl_xUsPSHaktNw&s");
    background-color:green;
    transform: rotate(-15deg);  
    background-position: center;
    background-size: cover;

    z-index: 1;
}


.skills-section{
    background-color:#23063a;
    width: 100%;
    /* height: 100vh; */
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    display: none;
}


.skills-section h2{
    font-size: 4vw;

}

.skill-container{
    width: 100%;
    height: fit-content;
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2vw;
    padding: 0 6vw;
}

.skills{
    width: 100%;
    height: fit-content;
    /* border: solid red 2px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    margin: 2vw;
    padding: 0 6vw;
}
.skillName{
    font-size: 3vw;
    font-weight: 400;
}

.skillPercent span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.skillPercent{
    height: 8vw;
    width: 8vw;
    position: relative;
    border-radius: 50%;
    border: solid white 2px;
    background: conic-gradient( #462167 0% 0% , transparent 0% 100% );
}
.skills:nth-child(1) .skillPercent{
    background: conic-gradient( #462167 0% 0% , transparent 0% 100% );
    
}

.skills:nth-child(2) .skillPercent{
    background: conic-gradient( #462167 0% 0% , transparent 0% 100% );
    
}
.skills:nth-child(3) .skillPercent{
    background: conic-gradient( #462167 0% 0% , transparent 0% 100% );
    
}
.skills:nth-child(4) .skillPercent{
    background: conic-gradient( #462167 0% 0% , transparent 0% 100% );
    
}


.experience-section{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.experience-section h1{
    font-size: 4vw;
}

.experience-container{
    /* border: solid red 2px; */
    width: 100%;
    height: 100vh;
    padding: 10vw 20vw;
    position: relative;
}

.container{
    background-color: #462167;
    width: 400px;
    /* border: solid green 2px; */
    display:flex;
    flex-direction: column;
    position: absolute;
    padding: 2rem;
    border-radius: 10%;
    border: solid white 2px;
    gap: 0.5rem;
}

#container1{
    left: 20%;
    top: 10%;
}

#container2{
    left: 30%;
    top: 65%;
}

#container3{
    left: 60%;
    top: 30%;
}


.education-section{
    position: fixed;
    top: 50%;
    z-index: 100;
    left: 0%;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;


}

.education-section h1{
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2px;
    width: 50px;
    background-color: #462167;
    /* opacity: 0.4; */
}

.education-section:hover .expandable{
    /* display: flex ; */
    width:400px;
    
}

.expandable{
    height: 166px;
    width: 0px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    transition:all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.expandable h2{
    color: #462167;

}

.expandable p{
    color: #23063a;
}

.expandable .edu{
    display: none;
    flex-direction: column;;
}

.education-section:hover .edu{
    display: flex;
}

.contact-section{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding:5rem 5vw 0rem 5vw;
    /* margin: ; */
}


.contact-container{
    border: solid white 2px;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    background-color: #462167;
    display: flex;
    padding: 2vw;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;

}

.contact-container h1{
    font-size: 4vw;
    
}

.message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 1rem;
}

.contact-container input{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 2vw;
    font-size: 2vw;
}

.contact-container input::placeholder{
    font-size: 2vw;
    align-items: center;
}

.contact-container button{
    height: 50px;
    width: 100px;
    font-size: 2rem;
    border-radius: 20px;
    color: #462167;
}